[common]
# Master's user ID, used for error notifications.
master = 80351110224678912
[token]
# Tokens for each bot.  Not Client ID / Secret.
botname = NranD0malPhab3tStr1ngs.XkOXXX.XXXXXXXXXXXXXXXXXXXX

# vim: ft=dosini
